<%= render :partial => 'form'%>

<ul>
<% @tasks.each do |task| %>
  <li>
    <%= task.description %>
    <%= link_to 'Delete', task_path(task), :method => :delete %>
    <%= link_to('Complete', complete_task_path(task), :method => :put) unless task.complete? %>
  </li>
<% end %>
</ul>
